<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del restaurante</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/shoppingCart.css">
</head>
<body>
    <!-- heander -->
    <%- include('./partials/header') %> 
    <!-- fin header -->
    <nav>
        <div class="box">
            <div>
                <ul>
                    <li class="producto">Producto</li>
                    <li class="anadir-quitar">Añadir/Quitar</li>
                    <li class="cantidad">Cantidad</li>
                    <li class="unidad">Precio por Unidad</li>
                    <li class="subtotal">Subtotal</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="producto-in">Producto</li>
                    <li class="anadir-quitar-in">Añadir/Quitar</li>
                    <li class="cantidad-in">Cantidad</li>
                    <li class="unidad-in">Precio por Unidad</li>
                    <li class="subtotal-in">Subtotal</li>
                </ul>

                <ul>
                    <li class="producto-in">Producto</li>
                    <li class="anadir-quitar-in">Añadir/Quitar</li>
                    <li class="cantidad-in">Cantidad</li>
                    <li class="unidad-in">Precio por Unidad</li>
                    <li class="subtotal-in">Subtotal</li>
                </ul>

                <ul>
                    <li class="producto-in">Producto</li>
                    <li class="anadir-quitar-in">Añadir/Quitar</li>
                    <li class="cantidad-in">Cantidad</li>
                    <li class="unidad-in">Precio por Unidad</li>
                    <li class="subtotal-in">Subtotal</li>
                </ul>

                <ul>
                    <li class="producto-in">Producto</li>
                    <li class="anadir-quitar-in">Añadir/Quitar</li>
                    <li class="cantidad-in">Cantidad</li>
                    <li class="unidad-in">Precio por Unidad</li>
                    <li class="subtotal-in">Subtotal</li>
                </ul>

            </div>
        </div>
        <div>
            <p>Botón de "Actualizar cesta"</p>
            <p>Botón de "Vaciar cesta"</p>
        </div>
        <div>
            <p>Método de pago</p>
            <p>Botón "Efectivo"</p>
            <p>Botón "Tarjeta de crédito/débito"</p>
        </div>
        <div>
            <p>Subtotal</p>
            <p>$XX.XX</p>
            <p>Costo de envío</p>
            <p>$XX.XX</p>
            <p>Total</p>
            <p>$XX.XX</p>
        </div>

    </nav>
    
    <!-- footer -->
    <%- include('./partials/footer') %>
    <!-- fin footer -->
</body>
</html>