<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { title: 'Carrito de compra'}); %>
<body>
    <!-- heander -->
    <%- include('./partials/header') %> 
    <!-- fin header -->
    <nav>
        <div class="box">
            <div>
                <ul>
                    <li class="producto">Producto</li>
                    <li class="anadir-quitar">Añadir/Quitar</li>
                    <li class="cantidad">Cantidad</li>
                    <li class="unidad">Precio por Unidad</li>
                    <li class="subtotal">Subtotal</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="producto-in">Producto</li>
                    <li class="anadir-quitar-in">Añadir/Quitar</li>
                    <li class="cantidad-in">Cantidad</li>
                    <li class="unidad-in">Precio por Unidad</li>
                    <li class="subtotal-in">Subtotal</li>
                </ul>

                <ul>
                    <li class="producto-in">Producto</li>
                    <li class="anadir-quitar-in">Añadir/Quitar</li>
                    <li class="cantidad-in">Cantidad</li>
                    <li class="unidad-in">Precio por Unidad</li>
                    <li class="subtotal-in">Subtotal</li>
                </ul>

                <ul>
                    <li class="producto-in">Producto</li>
                    <li class="anadir-quitar-in">Añadir/Quitar</li>
                    <li class="cantidad-in">Cantidad</li>
                    <li class="unidad-in">Precio por Unidad</li>
                    <li class="subtotal-in">Subtotal</li>
                </ul>

                <ul>
                    <li class="producto-in">Producto</li>
                    <li class="anadir-quitar-in">Añadir/Quitar</li>
                    <li class="cantidad-in">Cantidad</li>
                    <li class="unidad-in">Precio por Unidad</li>
                    <li class="subtotal-in">Subtotal</li>
                </ul>

            </div>
        </div>
        <div>
            <p>Botón de "Actualizar cesta"</p>
            <p>Botón de "Vaciar cesta"</p>
        </div>
        <div>
            <p>Método de pago</p>
            <p>Botón "Efectivo"</p>
            <p>Botón "Tarjeta de crédito/débito"</p>
        </div>
        <div>
            <p>Subtotal</p>
            <p>$XX.XX</p>
            <p>Costo de envío</p>
            <p>$XX.XX</p>
            <p>Total</p>
            <p>$XX.XX</p>
        </div>

    </nav>
    
    <!-- footer -->
    <%- include('./partials/footer') %>
    <!-- fin footer -->
</body>
</html>