<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
</head>
<style>
    .banner-producto img{
        width: 100%;
    }
</style>
<body>
    <nav>
        <!-- Banner Producto -->
        <div class="banner-producto">
            <!-- Contenido Izquierda -->
            <img src="https://placekitten.com/1546/423" alt="banner de la comida">
            <h2>Nombre de platillo</h2>
            <p>Aquí van los íconos de la puntiacón</p>
            <p>Precio</p>
            <p>Aquí van los íconos del tiempo de atención</p>
            <!-- Contenido Derecha -->
            <p>Botón de seguir puesto</p>
        </div>
        <!-- Banner Producto Termina -->
        <!-- Descripción Producto -->
        <div class="descripcion">
            <h3>Descripción</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, distinctio quam alias iusto magnam nihil perferendis temporibus cumque voluptate at.</p>
        </div>
        <!-- Descripción Producto Termina -->
        <div class="mas-fotos">
            <h3>Más fotos</h3>
            <p>Fotos</p>
        </div>
        <!-- Comentarios -->
        <div class="comentarios">
            <p>Comentario 1</p>
            <p>Comentario 2</p>
            <p>Comentario 3</p>
            <p>Más</p>
        </div>
        <!-- Comentarios Termina -->
    </nav>
</body>
</html>