<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <style>
        .banner img{
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <img src="static/images/Rue_logo_pink_resized.png" alt="logo" width="70px" height="auto">
        <p>Aquí va ícono de ubicación</p>
        <p>Aquí va texto de ubiación</p>
        <p>Aquí va la barra de búsqueda con el texto "¿Qué deseas comer hoy?"</p>
        <p>Aquí va botón de carrito</p>
        <p>Aquí va botón de usuario</p>
    </header>
    <nav>
        <!-- Inicia banner -->
        <div class="banner">
            <!-- Contenido de la parte izquierda -->
            <img src="https://placekitten.com/1546/423" alt="banner de la comida">
            <h2>Nombre del puesto</h2>
            <p>Aquí van los ínconos de la puntiacón</p>
            <p>Aquí van los íconos de la valoración del precio</p>
            <p>Aquí van los ínconos del tiempo de atención</p>
            <!-- Contenido de la parte derecha -->
            <p>Botón de seguir puesto</p>
        </div>
        <!-- Termina banner -->
        <!-- Inicia descripción -->
        <div class="descripcion">
            <h3>Descripción</h3>
            <p>Ícono de ubicación</p>
            <p>Ubicación de puesto</p>
            <p>Ícono de restaurante</p>
            <p>Tipo de restaurante</p>
        </div>
        <!-- Termina descripción -->
        <!-- Inicia platillos -->
        <div class="platillos">
            <!-- Inicia aleatorio -->
            <div class="aleatorio">
                <h4>Sorpréndeme</h4>
                <img src="https://placekitten.com/200/150" alt="botón de comida aleatoria">
                <p>Ícono de aleatorio</p>
            </div>
            <!-- Termina aleatorio -->
            <!-- Inicia recomendación del día -->
            <div class="recomendacion">
                <h4>Recomendación del día</h4>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de recomendación del día">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de recomendación del día">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de recomendación del día">
                    <p>Botón de más</p>
                </div>
            </div>
            <!-- Termina recomendación del día -->
            <!-- Inicia platillos mejor valorados por usuarios -->
            <div class="valoracion-usuarios">
                <h4>Mejor valorado por los usuarios</h4>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de valoración de usuarios">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de valoración de usuarios">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de valoración de usuarios">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de valoración de usuarios">
                    <p>Botón de más</p>
                </div>
            </div>
            <!-- Termina platillos mejor valorados por usuarios -->
            <!-- Inicia todos los platillos -->
            <div class="todos-platillos">
                <h4>Todos los platillos</h4>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de toda la comida">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de toda la comida">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de toda la comida">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de toda la comida">
                    <p>Botón de más</p>
                </div>
            </div>
            <!-- Termina todos los platillos -->
        </div>
        <!-- Termina platillos -->
    </nav>
    <footer>
        <!-- Inicia mayor información -->
        <div class="info">
            <h3>Información de interés</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="follow">
            <h3>Síguenos</h3>
            <div class="social">
                <img src="https://placekitten.com/50/50" alt="botón de red social">
            </div>
            <div class="social">
                <img src="https://placekitten.com/50/50" alt="botón de red social">
            </div>
            <div class="social">
                <img src="https://placekitten.com/50/50" alt="botón de red social">
            </div>
            <div class="social">
                <img src="https://placekitten.com/50/50" alt="botón de red social">
            </div>
        </div>
    </footer>
</body>
</html>