<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del restaurante</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <div class="barra">
                <img src="static/images/Rue_logo_pink_resized.png" alt="logo" >
            <div class="ubicacion">
                <i class="fas fa-map-marker-alt"></i>
                <p>Aquí va texto de ubicación</p>
            </div>
            <div class="barra-busqueda">
                <p>¿Qué deseas comer hoy?</p>
                <i class="fas fa-search"></i>
            </div>
            <div class="carrito">
                <i class="fas fa-cart-plus"></i>            
            </div>
            <div class="user">
                <i class="fas fa-user-circle"></i>
            </div>
        </div>
    </header>
    <nav>
        <!-- Banner Restaurante -->
        <div class="banner-restaurante">
            <!-- Contenido Izquierda -->
            <img src="https://placekitten.com/1546/423" alt="banner de la comida">
            <h2>Nombre del puesto</h2>
            <p>Aquí van los íconos de la puntiacón</p>
            <p>Aquí van los íconos de la valoración del precio</p>
            <p>Aquí van los íconos del tiempo de atención</p>
            <!-- Contenido Derecha -->
            <p>Botón de seguir puesto</p>
        </div>
        <!-- Banner Restaurante Termina -->
        <!-- Descripción -->
        <div class="descripcion">
            <h3>Descripción</h3>
            <p>Ícono de ubicación</p>
            <p>Ubicación de puesto</p>
            <p>Ícono de restaurante</p>
            <p>Tipo de restaurante</p>
        </div>
        <!-- Descripción Termina -->
        <!-- Platillos -->
        <div class="platillos">
            <!-- Aleatorio -->
            <div class="aleatorio">
                <h4>Sorpréndeme</h4>
                <img src="https://placekitten.com/200/150" alt="botón de comida aleatoria">
                <p>Ícono de aleatorio</p>
            </div>
            <!-- Aleatorio Termina -->
            <!-- Recomendación del Día -->
            <div class="recomendacion">
                <h4>Recomendación del día</h4>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de recomendación del día">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de recomendación del día">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de recomendación del día">
                    <p>Botón de más</p>
                </div>
            </div>
            <!-- Recomendación del Día Termina -->
            <!-- Platillos Mejor Valorados -->
            <div class="valoracion-usuarios">
                <h4>Mejor valorado por los usuarios</h4>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de valoración de usuarios">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de valoración de usuarios">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de valoración de usuarios">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de valoración de usuarios">
                    <p>Botón de más</p>
                </div>
            </div>
            <!-- Platillos Mejor Valorados Termina -->
            <!-- Todos los Platillos -->
            <div class="todos-platillos">
                <h4>Todos los platillos</h4>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de toda la comida">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de toda la comida">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de toda la comida">
                </div>
                <div class="figuras-comida">
                    <img src="https://placekitten.com/200/150" alt="botón de comida de toda la comida">
                    <p>Botón de más</p>
                </div>
            </div>
            <!-- Todos los Platillos Termina -->
        </div>
        <!-- Platillos Temina -->
    </nav>
    <footer>
        <!-- Mayor Información -->
        <div class="info">
            <h3>Información de interés</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <!-- Mayor Información Termina -->
        <!-- Redes Sociales -->
        <div class="follow">
            <h3>Síguenos</h3>
            <div class="social">
                <img src="https://placekitten.com/50/50" alt="botón de red social">
            </div>
            <div class="social">
                <img src="https://placekitten.com/50/50" alt="botón de red social">
            </div>
            <div class="social">
                <img src="https://placekitten.com/50/50" alt="botón de red social">
            </div>
            <div class="social">
                <img src="https://placekitten.com/50/50" alt="botón de red social">
            </div>
        </div>
        <!-- Redes Sociales Termina -->
    </footer>
</body>
</html>