<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del restaurante</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="/" class="logo"> <img src="/images/Rue_logo_white_resized.png" alt="logo" ></a></li>
            <div class="iconos">
                <li><a href="#" class="ubicacion"><i class="fas fa-map-marker-alt"></i></a></li>
                <li><a href="#" class="buscador"><i class="fas fa-search"></i></a></li>
                <li><a href="#" class="carrito"><i class="fas fa-cart-plus"></i> </a></li>
                <li><a href="#" class="usuario"><i class="fas fa-user-circle"></i></a></li>
            </div>
        </ul>
    </header>
    <nav>
        <!-- Banner Restaurante -->
        <div class="banner-restaurante" style="background-image: url(https://images.unsplash.com/photo-1582234372722-50d7ccc30ebd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80);">
            <!-- Contenido Izquierda -->
            <div class="left-info">
                <h2>Nombre del puesto</h2>
                <div class="puntuacion">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="precio">
                    <i class="fas fa-dollar-sign"></i>
                    <i class="fas fa-dollar-sign"></i>
                    <i class="fas fa-dollar-sign"></i>
                </div>
                <div class="tiempo">
                    <i class="fas fa-clock"></i>
                    <i class="fas fa-clock"></i>
                    <i class="fas fa-clock"></i>
                </div>
            </div>
            <!-- Contenido Derecha -->
            <div class="right-info">
                <div class="seguir">
                    <i class="fas fa-plus-circle"></i>
                    <p>Seguir lugar</p>
                </div>
            </div>
        </div>
        <!-- Banner Restaurante Termina -->
        <!-- Descripción -->
        <div class="descripcion">
            <h3>Descripción</h3>
            <i class="fas fa-map-marker-alt"></i>
            <p>Ubicación de puesto</p>
            <i class="fas fa-utensils"></i>
            <p>Mexicana</p>
        </div>
        <!-- Descripción Termina -->
        <!-- Platillos -->
        <div class="platillos">
            <!-- Aleatorio -->
            <div class="aleatorio">
                <h4>Sorpréndeme</h4>
                <div class="fa-container">
                    <i class="fas fa-random"></i>
                </div>
            </div>
            <!-- Aleatorio Termina -->
            <!-- Recomendación del Día -->
            <div class="recomendacion">
                <h4>Recomendación del día</h4>
                <div class="figuras-comida">
                    <img src="https://images.unsplash.com/photo-1565299585323-38d6b0865b47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=714&q=80" alt="botón de comida de recomendación del día">
                </div>
                <div class="figuras-comida">
                    <img src="https://images.unsplash.com/photo-1599974579688-8dbdd335c77f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1371&q=80" alt="botón de comida de recomendación del día">
                </div>
                <div class="figuras-comida">
                    <img src="https://images.unsplash.com/photo-1613514785940-daed07799d9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80" alt="botón de comida de recomendación del día">
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>
            <!-- Recomendación del Día Termina -->
            <!-- Platillos Mejor Valorados -->
            <div class="valoracion-usuarios">
                <h4>Mejor valorado por los usuarios</h4>
                <div class="figuras-comida">
                    <img src="https://images.unsplash.com/photo-1613514785940-daed07799d9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80" alt="botón de comida de valoración de usuarios">
                </div>
                <div class="figuras-comida">
                    <img src="https://images.unsplash.com/photo-1618416096379-fa1f3262a72c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" alt="botón de comida de valoración de usuarios">
                </div>
                <div class="figuras-comida">
                    <img src="https://images.unsplash.com/photo-1613591629320-40af6604bfed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=925&q=80" alt="botón de comida de valoración de usuarios">
                </div>
                <div class="figuras-comida">
                    <img src="https://images.unsplash.com/photo-1582234363542-ee64d0ccb0d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80" alt="botón de comida de valoración de usuarios">
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>
            <!-- Platillos Mejor Valorados Termina -->
            <!-- Todos los Platillos -->
            <div class="todos-platillos">
                <h4>Todos los platillos</h4>
                <div class="figuras-comida">
                    <img src="https://images.unsplash.com/photo-1618416096379-fa1f3262a72c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" alt="botón de comida de toda la comida">
                </div>
                <div class="figuras-comida">
                    <img src="https://images.unsplash.com/photo-1613514785940-daed07799d9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80" alt="botón de comida de toda la comida">
                </div>
                <div class="figuras-comida">
                    <img src="https://images.unsplash.com/photo-1512838243191-e81e8f66f1fd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="botón de comida de toda la comida">
                </div>
                <div class="figuras-comida">
                    <img src="https://images.unsplash.com/photo-1511690078903-71dc5a49f5e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80" alt="botón de comida de toda la comida">
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>
            <!-- Todos los Platillos Termina -->
        </div>
        <!-- Platillos Temina -->
    </nav>
    <footer>
        <section class="footer-img">
            <img src="/images/Rue_logo_white_resized.png" alt="logo">
        </section>
        <section class="info-interes">
            <h4>Información de interes</h4>
            <article>
                <p>Terminos y condiciones</p>
                <p>Restaurantes</p>
                <p>Registrar tu restaurante</p>
                <p>Aviso de privacidad</p>
                <p>Restaurantes cerca de mi</p>
                <p>Registrate para realizar entregas</p>
            </article>
        </section>
        <section class="info-redes">
            <ul>
                <li>
                    <a href="http://" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a href="http://" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="http://" target="_blank">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </li>
            </ul>
        </section>
        <section class="copyright">
            <p>&copy; copyright Rue 2021</p>
        </section>
    </footer>
</body>
</html>