<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/style.css">
    <title>home</title>
</head>

<body>
    <header>

    </header>
    <section class="banner">
        <img src="/static/images/Mexican-food-banner.png">
    </section>
    <main>
        <section>

        </section>
        <section>
            <h3>Categoria</h3>
            <article>

                <img src="/static/images/img-chalupas.jpg" alt="chalupas">
                <article>
                    <p>Chalupas</p>
                </article>
            </article>
            <article>
                <img src="/static/images/img-chilaquiles.jpg">
                <article>
                    <p>Chilaquiles</p>
                </article>
            </article>
            <article>
                <img src="/static/images/img-chile_nogada.jpg">
                <article>
                    <p>Chile nogada</p>
                </article>
            </article>
            <article>
                <img src="/static/images/img-flautas.jpg">
                <article>
                    <p>Flautas</p>
                </article>
            </article>
        </section>
    </main>

    <footer>
        <section class="footer-img">
            <img src="static/images/Rue_logo_white_resized.png" alt="logo">
        </section>
        <section class="info-interes">
            <h4>Información de interes</h4>
            <article>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem, ipsum dolor.</p>
            </article>
            <article>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem, ipsum dolor.</p>
            </article>
        </section>
        <section class="info-redes">
            <ul>
                <li>
                    <a href="http://" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a href="http://" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="http://" target="_blank">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </li>
            </ul>
        </section>
        <section class="copyright">
            <p>&copy; copyright Rue 2021</p>
        </section>
    </footer>
</body>

</html>