<!DOCTYPE html>  
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Log-in"</title>
</head>

<body>
    <header>
        <img src="static/images/Rue_logo_pink_resized.png" alt="logo" width="70px" height="auto">
        <h4> << Volver </h4>
        
</header>

    <h1> "Ingresa a RUE"</h1>

    <h2> ¿Nuevo en RUE?, registrate aquí </h2>

    
    <h6> Al continuar aceptas las condiciones de servicio y la politica de privacidad de RUE, incluyendo nuestra politica sobre cookies </h6>
    
    
        <p>Continuar con Google </p>
            <p>Continuar con Facebook </p>
                <p>Continuar con Apple </p>
                    <p>Correo Electronico </p>
                        <p>Contrasena </p>
                            <p>Iniciar </p>
                                <h6>Olvidaste la contasena </h6>
                                
    
     
     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis reprehenderit ad dignissimos officiis quae, aliquid libero minima cum. Blanditiis consequatur non praesentium ea temporibus cum ut quidem aspernatur iusto sapiente. </p>

    
     <a href="https://www.google.com/"> Ir a Google </a>
</body>

<footer>
    <ul>
        <li> <a href="#"> Ofertas </a> </a></li>
        <li> <a href="#">Puestos oficiales</li>
        <li> <a href="#">Vender</li>
        <li> <a href="#">Ayuda</li>
    </ul>

</footer>
</html>
