<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del restaurante</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <!-- header -->
    <%- include('./partials/header') %> 
    <h1>Site in construction by: Brenda Mendez</h1>
    <!-- fin header -->
    
    <nav class="main-navbar">
       
            <div class="main-header-top-bar"> 
                <p class="return"> << Volver </p>
             </div>
        </section>
    </nav>
        
     <!-- main home -->
     <main class="main-home">
        <section class="main-section-home">
            <h3>Basado en tus ordenes</h3>
            <article class="main-article-home">
                <img src="/images/img-chalupas.jpg" alt="chalupas">
                <article>
                    <p>Chalupas</p>
                </article>
            </article>
            <article class="main-article-home">
                <img src="/images/img-chilaquiles.jpg">
                <article>
                    <p>Chilaquiles</p>
                </article>
            </article>
            <article class="main-article-home">
                <img src="/images/img-chile_nogada.jpg">
                <article>
                    <p>Chile nogada</p>
                </article>
            </article>
            <article class="main-article-home">
                <img src="/images/img-tacos_pastor.jpg">
                <article>
                    <p>Tacos al pastor</p>
                </article>
            </article>
        </section>
    <!-- fin main home -->

 <!-- fin bontones -->



    <!-- footer -->
    <%- include('./partials/footer') %> 
    <!-- fin footer -->
</body>

</html>



 