<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/style.css">
    <title>signup</title>
</head>

<body>
    <!-- header -->
    <header>
        <ul>
            <li><a href="/" class="logo"> <img src="static/images/Rue_logo_white_resized.png" alt="logo" ></a></li>
            <div class="iconos">
                <li><a href="#" class="ubicacion"><i class="fas fa-map-marker-alt"></i></a></li>
                <li><a href="#" class="buscador"><i class="fas fa-search"></i></a></li>
                <li><a href="#" class="carrito"><i class="fas fa-cart-plus"></i> </a></li>
                <li><a href="#" class="usuario"><i class="fas fa-user-circle"></i></a></li>
            </div>
        </ul>
    </header>
    <!-- fin header -->

    <!-- main home -->
    <main class="main-register">
        <section class="main-register-section">
            <h1>Regístrare</h1>
            <div class="div-text-cuenta">
                <p class="text-inicio-cuenta">
                    ¿Ya tienes cuenta? <a href="/login">Inicia sesión aquí</a>
                </p>
            </div>
            <div class="buttons-group-auth">
                <div class="button-auth">
                    <button class="btn-auth btn-auth-facebook">
                        <i class="fab fa-facebook"></i>
                        Facebook
                    </button>
                </div>
                <div class="button-auth">
                    <button class="btn-auth btn-auth-google">
                        <i class="fab fa-google"></i>
                        Google
                    </button>
                </div>
                <div class="button-auth">
                    <button class="btn-auth btn-auth-apple">
                        <i class="fab fa-apple"></i>
                        Apple
                    </button>
                </div>
            </div>
        </section>
        <section class="main-register-section">
            <div class="form-register">
                <form action="">
                    <div>
                        <input type="text" placeholder="nombres">
                        <label for=""></label>
                        <input type="text" placeholder="apellidos">
                    </div>
                    <div>
                        <input type="email" placeholder="Correo">
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Acepta acuerdo y condiciones</label>
                    </div>
                    <div>
                        <button>Registrarme</button>
                    </div>
                </form>        
            </div>
        </section>
    </main>
    <!-- fin main home -->

    <!-- footer -->
    <footer>
        <section class="footer-img">
            <img src="/static/images/Rue_logo_white_resized.png" alt="logo">
        </section>
        <section class="info-interes">
            <h4>Información de interes</h4>
            <article>
                <p>Terminos y condiciones</p>
                <p>Restaurantes</p>
                <p>Registrar tu restaurante</p>
                <p>Aviso de privacidad</p>
                <p>Restaurantes cerca de mi</p>
                <p>Registrate para realizar entregas</p>
            </article>
        </section>
        <section class="info-redes">
            <ul>
                <li>
                    <a href="http://" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a href="http://" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="http://" target="_blank">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </li>
            </ul>
        </section>
        <section class="copyright">
            <p>&copy; copyright Rue 2021</p>
        </section>
    </footer>
    <!-- fin footer -->
</body>

</html>