/* banner home */
.banner-section{
    width: 100%;
    background-color: #faede3;
}

.search-banner{
    width: 80%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.search-busqueda{
    display: flex;
    background-color: #ffff;
    width: 95%;
    border-radius: 10px;
}
.search-busqueda input{
    border: none;
    width: 100%;
    background-color:rgba(255, 255, 255, 0);
    padding: 2px 0px 2px 10px;
    margin: 4px;
}

.search-busqueda button{
    border: none;
    background-color:rgba(255, 255, 255, 0);
    padding: 5px;
    color: #F2274C;
    font-size: 1rem;
}

/* fin banner home */
@media (min-width: 569px){
    .search-banner{
        width: 55%;
    }
}

@media (min-width: 1023px) {
  
    .search-banner{
        width: 62%;
    }

}