

/* Inicio Producto */

.banner-producto{

    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
.banner-producto::before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.2);
}
.banner-producto{
    position: relative;
}

.banner-producto > *{
    color: white;
}
.banner-producto .left-info{
    position: absolute;
    color: white;
    left: 10px;
    bottom: 10px;
}
.banner-producto .right-info{
    position: absolute;
    color: white;
    right: 10px;
    bottom: 10px;
}

.mas-fotos,
.comentarios{
    color: #F2274C;
}

/* Fin Producto */


/* 
    -#F2274C
    - #91CCD9
    - #FFFFFF 
    - #faede3;*/
/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* General Style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap');

/* normalizacion */

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* fin normalizacion */

/* Header */

header ul {
    display: inline-flex;
    background-color: #F2274C;
    list-style: none;
    height: 100%;
}

header ul .iconos {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80vw;
}

header ul li a img {
    width: 50px;
    height: auto;
}

header ul li .logo {
    width: 20vw;
}

header ul li .logo,
header ul li .ubicacion,
header ul li .buscador,
header ul li .carrito,
header ul li .usuario {
    display: flex;
    align-items: center;
    height: 100%;
    height: 51.89px;
    color: white;
    display: flex;
    padding: 12px
}
/* fin header */

/*Body */

.main-register{
    background-color: #faede3;
}

.main-register{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0px 50px;
    
}

.main-article-detail {
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}



/* Footer */

footer {
    background-color: #F2274C;
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .footer-img {
    width: 100%;
    padding: 10px;
    text-align: center;
    /* background-color: blue; */
}

footer .footer-img img {
    width: 40%;
}

footer .info-interes {
    width: 100%;
    padding: 10px;
    text-align: center;
}

footer .info-interes p {
    font-size: 12px;
    font-weight: 400;
}

footer .info-interes h4 {
    font-size: 14px;
    font-weight: 600px;
}

footer .info-redes {
    width: 100%;
}

footer .info-redes ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
}

footer .info-redes ul li {
    padding: 10px;
}

footer .info-redes ul li a {
    color: #FFFFFF;
    font-size: 1.2rem;
}

footer .copyright {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

/* fin footer */


/* main section categoria */


.main-section-cat-home h3 {
    text-align: center;
    margin: 10px;
    width: 100%;
}



/* fin main section categoria */
/* main section sotre */

.main-section-store {
    width: 100%;
    background-color: #f8f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-article-store {
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
}

.div-marker-store {
    background-color: #ffff;
    border-radius: 15px;
    width: 17%;
    height: 48px;
    color: #F2274C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0 6px 10px 0 rgba(128, 98, 96, .16);
}

.div-text-store {
    width: 100%;
    padding: 0 70px 0 25px;
    font-size: 12px;
    font-weight: 400;
}
/* fin main section store */
/* fin main home */

/* tablets */



@media (min-width: 568px) {

    /*  body */
    .main-article-detail {
        width: 45%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: all 0.5s;
        margin-left: 30%;
        padding: 10px;
     }

     .figuras-comida{
      
        justify-content: center;
    }
/*  Fin Body */


    /*  footer */
    footer .footer-img {
        width: 45%;
    }
    footer .info-interes {
        width: 45%;
    }
    footer .info-redes {
        width: 100%;
    }
    /* fin footer */
    /* main home */
    .main-section-home {
        justify-content: space-around;
    }
    .main-article-home {
        width: 45%;
    }
    /* fin main home */
    /* main section categoria */
    .main-section-cat-article {
        width: 24%;
    }
    /* fin main section categoria */
    /* main article store */
    .div-marker-store {
        height: 80px;
        width: 90px;
    }
    .div-text-store {
        font-size: 17px;
        padding: 20px;
    }
    /* fin main article store */
    /* main register  */
    .form-register{
        margin: 0px 16%;
    }
    
    /* fin main register */

    /* Log-in */
           
      .main-section-login {
        justify-content: space-around;
    }
    .main-article-login {
        width: 45%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: all 0.5s;
        margin-left: 30%;
     }
  
    .div-cont-login{
      
        justify-content: center;
    }

    .div-img-login{
        display: flex;
        justify-content: center;
    }

    .main-article-login:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
        
    .main-article-login {
        padding: 10px;
    }

/* fin Log-in */


}
/* fin tablets */

/* desktop */


@media (min-width: 1023px) {
    /* footer */
    footer .footer-img {
        width: 35%;
        /* background-color: blue; */
    }
    footer .info-interes {
        width: 35%;
    }
    footer .info-redes {
        width: 30%;
    }
    footer .copyright {
        width: 35%;
    }
    /* fin footer */
    /* main home */
    .main-section-home {
        justify-content: space-around;
    }
    .main-article-home {
        width: 24%;
    }
    /* fin main home */
    /* main article store */
    .main-article-store {
        width: 33%;
    }
    .div-marker-store {
        width: 100px;
        height: 80px;
    }
    /* fin main article store */
    /* banner home */
    .banner img{
        height: 52vh;
    }
    /* fin benner home */
    /* main register */
    .form-register{
        margin: 0 5%;
    }

    .div-radio{
        width: 45%;
    }

    .main-register-section-buttons{
        width: 45%;
    }

    .main-register-section-form{
        width: 55%;
    }

    .div-register-input{
        justify-content: space-between;
    }
    
    .form-register-item input[type="text"]{
        width: 48%;
    }

    .text-inicio-cuenta{
        font-size: 14px;
    }
    /* fin main register */

    /* login */
       .main-article-login {
        width: 40%;
    }
    /* fin login */


}
/*  fin desktop */