/* footer */
.footer {
    background-color: #F2274C;
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-img {
    width: 100%;
    padding: 10px;
    text-align: center;
    /* background-color: blue; */
}

.footer-img img {
    width: 40%;
}

.info-interes {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.info-interes p {
    font-size: 12px;
    font-weight: 400;
}

.info-interes h4 {
    font-size: 14px;
    font-weight: 600px;
}

.info-redes {
    width: 100%;
}

.info-redes ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
}

.info-redes ul li {
    padding: 10px;
}

.info-redes ul li a {
    color: #FFFFFF;
    font-size: 1.2rem;
}

.copyright {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}
/* fin footer */

@media (min-width: 568px) {
    /*  footer */
    .footer-img {
        width: 45%;
    }
    .info-interes {
        width: 45%;
    }
    .info-redes {
        width: 100%;
    }
    /* fin footer */
}

@media (min-width: 1023px) {
     /* footer */
    .footer-img {
        width: 35%;
        /* background-color: blue; */
    }
    .info-interes {
        width: 35%;
    }
    .info-redes {
        width: 30%;
    }
    .copyright {
        width: 35%;
    }
    /* fin footer */
}
