/* Header */

header ul {
    display: inline-flex;
    background-color: #F2274C;
    list-style: none;
    height: 100%;
}

header ul .iconos {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80vw;
}

header ul li a img {
    width: 50px;
    height: auto;
}

header ul li .logo {
    width: 20vw;
}

header ul li .logo,
header ul li .ubicacion,
header ul li .buscador,
header ul li .carrito,
header ul li .usuario {
    display: flex;
    align-items: center;
    height: 100%;
    height: 51.89px;
    color: white;
    display: flex;
    padding: 12px
}
/* fin header */

