/* main home */
.main-home{
    background-color: #faede3;
}

.main-section-home {
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
}

.main-section-home h3 {
    text-align: center;
    margin: 10px;
    width: 100%;
}

.main-article-home {
    width: 100%;
    background-color: #f8f7f7;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    transition: all 0.5s;
    height: calc(100% - 5px);
    
}

.main-article-home:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.main-article-home img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 370px;
}

.main-article-home article {
    /* background-color: blue; */
    padding: 10px;
    margin: 0px;
}

/* main section categoria */

.main-section-cat-home {
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-section-cat-home h3 {
    text-align: center;
    margin: 10px;
    width: 100%;
}

.main-section-cat-article {
    margin-bottom: 10px;
    width: 45%;
    border-radius: 35px;
    position: relative;
}

.cat-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 0.8s;
}

.cat-text:hover {
    background-color: #c94d6494;
    color: #ffff;
    border-radius: 35px;
    opacity: 1;
}

.main-section-cat-article img {
    border-radius: 35px;
    width: 100%;
    height: 100%;
}
/* fin main section categoria */
/* main section sotre */

.main-section-store {
    width: 100%;
    background-color: #f8f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-article-store {
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
}

.div-marker-store {
    background-color: #ffff;
    border-radius: 15px;
    width: 17%;
    height: 48px;
    color: #F2274C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0 6px 10px 0 rgba(128, 98, 96, .16);
}

.div-text-store {
    width: 100%;
    padding: 0 70px 0 25px;
    font-size: 12px;
    font-weight: 400;
}
/* fin main section store */
/* fin main home */

@media (min-width: 568px) {
     /* main home */
     .main-section-home {
        justify-content: space-around;
    }
    .main-article-home {
        width: 45%;
    }
    /* fin main home */
    /* main section categoria */
    .main-section-cat-article {
        width: 24%;
    }
    /* fin main section categoria */
    /* main article store */
    .div-marker-store {
        height: 80px;
        width: 90px;
    }
    .div-text-store {
        font-size: 17px;
        padding: 20px;
    }
    /* fin main article store */
}


@media (min-width: 1023px) {
    /* main home */
    .main-section-home {
        justify-content: space-around;
    }
    .main-article-home {
        width: 24%;
    }
    /* fin main home */
    /* main article store */
    .main-article-store {
        width: 33%;
    }
    .div-marker-store {
        width: 100px;
        height: 80px;
    }
    /* fin main article store */
}
