
/* inicio login */
.main-navbar {
    background-color: #F2274C;
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.return{
    align-items: flex-start;
}

.info-login {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.info-login p {
    font-size: 12px;
    font-weight: 400;
}

.info-login h4 {
    font-size: 14px;
    font-weight: 600px;
}

.info-login .privacidad {
    font-size:6px;
    color:rgb(240, 233, 233);
}

.control-login{
    display:flex;
    background-color: #faede3;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
       }
.control-login i{
    color:#F2274C;
    margin-right: 5px;
}

.control-login p, .create-form, .control{
    text-align: center; 
}

.main-article-login {
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}

.main-article-login:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.main-article-login img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main-article-login {
    padding: 10px;
}

.control {
    width:100%;
    padding:8px;
    border:none;
    border-radius: 5px;
    background-color: #faede3;
 }

 .nav-login {
    background-color: white;
    display: flex;
}

.login{
    flex-direction: column;
    
}
/* fin login */

.alert-errors{
    color: rgb(218, 7, 7);
}

@media (min-width: 568px) {

    /* Log-in */
    .main-section-login {
        justify-content: space-around;
    }

    .main-article-login {
        width: 45%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: all 0.5s;
        margin-left: 30%;
    }
  
    .div-cont-login{
      
        justify-content: center;
    }

    .div-img-login{
        display: flex;
        justify-content: center;
    }

    .main-article-login:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
        
    .main-article-login {
        padding: 10px;
    }

    /* fin Log-in */

}
/* fin tablets */


/* desktop */
@media (min-width: 1023px) {
    /* login */
    .main-article-login {
        width: 40%;
    }
    /* fin login */

}
/*  fin desktop */