
/*Ultimas visitas & Ofertas - yo lo agregue*/

/* .last-visit{ 
    margin-top: 323px;
 }
 
 div.last-visit,
 div.offers{
     display: flex;
     flex-wrap: wrap;
 }
 
 .price{
     font-size: 15px;
     width: 30%;
 }
 
 .discount{
     width: 70%;
 }
 
 .discount{
     font-size: 13px;
     font-weight: normal;
 }
 
 h3{
     font-size: 20px;
     color: #666;
     position:relative;
 }
 
 .description{
     font-size: 20px;
     color: #666;
     font-weight: normal}
 
 p{ font-size: 12px;} */
/*Fin Ultimas visitas & Ofertas - yo lo agregue*/

/* main home */
.main-home{
    background-color: #faede3;
}

.main-section-home {
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
}

.main-section-home h3 {
    text-align: center;
    margin: 10px;
    width: 100%;
}

.main-article-home {
    width: 100%;
    background-color: #f8f7f7;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}

.main-article-home:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.main-article-home img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main-article-home article {
    padding: 10px;
}

.main-section-home a{
    text-decoration: none;
    color:rgb(100, 100, 100);

}

/* fin main home */

/* tablets */



@media (min-width: 568px) {
    
    /* main home */
    .main-section-home {
        justify-content: space-around;
    }
    .main-article-home {
        width: 45%;
    }
    /* fin main home */
    /* main section categoria */
    .main-section-cat-article {
        width: 24%;
    }
    /* fin main section categoria */
    /* main article store */
    .div-marker-store {
        height: 80px;
        width: 90px;
    }
    .div-text-store {
        font-size: 17px;
        padding: 20px;
    }
    /* fin main article store */
    /* main register  */
    .form-register{
        margin: 0px 16%;
    }    
    /* fin main register */

}
/* fin tablets */

/* desktop */


@media (min-width: 1023px) {
    /* main home */
    .main-section-home {
        justify-content: space-around;
    }
    .main-article-home {
        width: 24%;
    }
    /* fin main home */
    /* main article store */
    .main-article-store {
        width: 33%;
    }
    .div-marker-store {
        width: 100px;
        height: 80px;
    }
    /* fin main article store */
}
/*  fin desktop */