/* inicio registro */
.main-register-product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 25px 50px;
}

.main-register-section-form-product{
    padding-top: 13px;
    width: 100%;
}

.main-register-section-form-product h3{
    text-align: center;
}

.main-register-product{
    background-color: #faede3;
}

.form-register-product{
    margin: 0px 5%;
    padding: 15px 15px 25px;
    margin-bottom: 20px;
}

.form-register-item-product{
    width: 100%;
}

.form-register-item-product input[type="text"], 
.form-register-item-product input[type="email"],
.form-register-item-product input[type="tel"],
.form-register-item-product textarea {
    width: 100%;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-bottom: 15px;
}

.form-register-item-product input[type="checkbox"],
.form-register-item-product input[type="radio"]{
    margin-bottom: 15px;
}

.div-btns-product{
    margin-top: 5px;
    display:flex;
    justify-content:center;
}

.btn-register-product{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    width: 77%;
    background-color: #3b5998;
    color: #ffff;
    transition: all 0.5s;
}

.text-label{
    font-size: 14px;
}

/* fin registro */

/* tablets */

@media (min-width: 568px) {
    /* main register  */
    .form-register{
        margin: 0px 16%;
    }
    /* fin main register */

}
/* fin tablets */

/* desktop */


@media (min-width: 1023px) {
    /* main register */
    .form-register{
        margin: 0 16%;
    }
    /* fin main register */
}
/*  fin desktop */