

/* Inicio Producto */

.banner-producto{

    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
.banner-producto::before{
    content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.2);
}
.banner-producto{
    position: relative;
}

.banner-producto > *{
    color: white;
}
.banner-producto .left-info{
    position: absolute;
    color: white;
    left: 10px;
    bottom: 10px;
}
.banner-producto .right-info{
    position: absolute;
    color: white;
    right: 10px;
    bottom: 10px;
}

.mas-fotos,
.comentarios{
    color: #F2274C;
}

/* Fin Producto */