/* inicio registro */
.main-register{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 25px 50px;
}
.main-register-section-buttons{
    padding-top: 13px;
    width: 100%;
}
.main-register-section-form{
    padding-top: 13px;
    width: 100%;
}
.main-register-section-buttons h1,
.main-register-section-form h3{
    text-align: center;
}

.div-text-cuenta{
    display: flex;
    justify-content: center;
}

.text-inicio-cuenta{
    width: 60%;
    text-align: center;
}

.text-inicio-cuenta a{
    color: #0aa354;
}

.main-register{
    background-color: #faede3;
}

.form-register{
    margin: 0px 5%;
    padding: 15px 15px 25px;
    margin-bottom: 20px;
}
.form-register-item{
    width: 100%;
}

.form-register-item input[type="text"], 
.form-register-item input[type="email"],
.form-register-item input[type="tel"],
.form-register-item textarea {
    width: 100%;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-bottom: 15px;
}

.form-register-item input[type="checkbox"],
.form-register-item input[type="radio"]{
    margin-bottom: 15px;
}

.div-btns{
    margin-top: 5px;
    display:flex;
    justify-content:center;
}

.btn-register{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    width: 77%;
    background-color: #3b5998;
    color: #ffff;
    transition: all 0.5s;
}

.div-register-radio{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.div-radio{
    width: 100%;
}

.text-label{
    font-size: 14px;
}

.div-register-input{
    display: flex;
    flex-wrap: wrap;
}

/* fin registro */

/* tablets */

@media (min-width: 568px) {
    /* main register  */
    .form-register{
        margin: 0px 16%;
    }
    /* fin main register */

}
/* fin tablets */

/* desktop */


@media (min-width: 1023px) {
    /* main register */
    .form-register{
        margin: 0 16%;
    }

    .div-radio{
        width: 45%;
    }

    /* .main-register-section-form{
        width: 55%;
    } */

    .div-register-input{
        justify-content: space-between;
    }

    .text-inicio-cuenta{
        font-size: 14px;
    }
    /* fin main register */
}
/*  fin desktop */