
/*Ultimas visitas & Ofertas - yo lo agregue*/

.last-visit{ 
    margin-top: 323px;
 }
 
 div.last-visit,
 div.offers{
     display: flex;
     flex-wrap: wrap;
 }
 
 .price{
     font-size: 15px;
     width: 30%;
 }
 
 .discount{
     width: 70%;
 }
 
 .discount{
     font-size: 13px;
     font-weight: normal;
 }
 
 h3{
     font-size: 20px;
     color: #666;
     position:relative;
 }
 
 .description{
     font-size: 20px;
     color: #666;
     font-weight: normal}
 
 p{ font-size: 12px;}
 
/*Fin Ultimas visitas & Ofertas - yo lo agregue*/

/* main home */
.main-product-home{
    background-color: #faede3;
}

.main-product-section-home {
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
}

.main-product-section-home h3 {
    text-align: center;
    margin: 10px;
    width: 100%;
}

.main-product-article-home {
    width: 100%;
    background-color: #f8f7f7;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}

.main-product-article-home:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.main-product-article-img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 300px;
}

.content-product {
    width: 100%;
    padding: 12px 10px 10px 10px;
    position: relative;
}

.content-product i{
    border: 2px solid #F2274C;
    border-radius: 100%;
    padding: 5px;
    position: absolute;
    left: 80%;
    top: -15px;
    color:#F2274C;
}

.content-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.text-name{
    width: 100%;
    font-size: 1.05rem;
}


.text-price{
    margin-right: 5px;
}

.text-discount{
    color: #F2274C;
}

.main-product-section-home a{
    text-decoration: none;
    color:rgb(100, 100, 100);
    display: flex;
    flex-wrap: wrap;

}

.main-product-article-home:hover
.fas{
    animation-name: giro;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

/* fin main home */

@keyframes giro {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* tablets */
@media (min-width: 568px) {
    
    /* main home */
    .main-product-section-home {
        justify-content: space-around;
    }
    .main-product-article-home {
        width: 45%;
    }
    /* fin main home */
    /* main section categoria */
    .main-section-cat-article {
        width: 24%;
    }
    /* fin main section categoria */
    /* main article store */
    .div-marker-store {
        height: 80px;
        width: 90px;
    }
    .div-text-store {
        font-size: 17px;
        padding: 20px;
    }
    /* fin main article store */
    /* main register  */
    .form-register{
        margin: 0px 16%;
    }    
    /* fin main register */

    

}
/* fin tablets */

/* desktop */


@media (min-width: 1023px) {
    /* main home */
    .main-product-section-home {
        justify-content: space-around;
    }
    .main-product-article-home {
        width: 24%;
    }
    /* fin main home */
    /* main article store */
    .main-article-store {
        width: 33%;
    }
    .div-marker-store {
        width: 100px;
        height: 80px;
    }
    /* fin main article store */
}
/*  fin desktop */