/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* General Style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap');
body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
.banner-restaurante{
    /* display: inline-flex;
    width: 100vw; */
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
.banner-restaurante > *{
    color: white;
}

/* Header */

header ul {
    display: inline-flex;
    background-color: #F2274C;
    list-style: none;
    height: 100%;
}

header ul .iconos {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80vw;
}

header ul li a img {
    width: 50px;
    height: auto;
}

header ul li .logo {
    width: 20vw;
}

header ul li .logo,
header ul li .ubicacion,
header ul li .buscador,
header ul li .carrito,
header ul li .usuario {
    display: flex;
    align-items: center;
    height: 100%;
    height: 51.89px;
    color: white;
    display: flex;
    padding: 12px
}

/* Footer */

footer {
    /* #F2274C
    - #91CCD9
    - #FFFFFF */
    background-color: #F2274C;
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .footer-img {
    width: 100%;
    padding: 10px;
    text-align: center;
    /* background-color: blue; */
}

footer .footer-img img {
    width: 40%;
}

footer .info-interes {
    width: 100%;
    padding: 10px;
    text-align: center;
}

footer .info-interes p {
    font-size: 12px;
    font-weight: 400;
}

footer .info-interes h4 {
    font-size: 14px;
    font-weight: 600px;
}

footer .info-redes {
    width: 100%;
}

footer .info-redes ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
}

footer .info-redes ul li {
    padding: 10px;
}

footer .info-redes ul li a {
    color: #FFFFFF;
    font-size: 1.2rem;
}

footer .copyright {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}


/* fin footer */

/* inicio login */

.control-login{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:20px;
    background-color: rgb(221, 219, 219);
    }

.control {
    width:100%;
    padding:8px;
    border:none;
    border-radius: 5px;
}

.button_login{
    background-color: #0044aa;
    color:#ffff; 
    border:none;
    font-size: 20px;
    padding:0px 90px;
    text-align: center;
    border-radius: 5px; 
    
}

.button_login:hover {
    background-color:grey;
    color:rgb(196, 195, 195);   
    transition-property: background-color,color;
    transition-duration:0.1s;
}

.control-login{
    display:flex;
    flex-direction: column;   
   }
/* fin login */



/* main home */

.banner img {
    width: 100%;
}

main section article {
    width: 100%;
    padding: 0px 10px;
}

main section img {
    width: 100%;
    height: 60vh;
    border-radius: 5px;
}


/* fin main home */


/* tablets */

@media (min-width: 568px) {
    /*  footer */
    footer .footer-img {
        width: 45%;
    }
    footer .info-interes {
        width: 45%;
    }
    footer .info-redes {
        width: 100%;
    }
    /* fin footer */
}


/* fin tablets */


/* desktop */

@media (min-width: 1023px) {
    /* footer */
    footer .footer-img {
        width: 35%;
        /* background-color: blue; */
    }
    footer .info-interes {
        width: 35%;
    }
    footer .info-redes {
        width: 30%;
    }
    footer .copyright {
        width: 35%;
    }
    /* fin footer */
}


/*  fin desktop */


/* footer .info,
footer .follow {
    padding-top: 15px;
} */