/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
/* General Style */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap');

body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;

}
.banner-restaurante img{
    width: 100%;
}
/* Header */
.barra {
    background-color: #F2274C;
    width: 100%;
}
.barra img {
    width: 70px;
    height: auto;
    padding: 8px;
}
.barra ul,
.barra img{
    display: flex;
    align-items: center;
}
.barra ul li{
    list-style: none;
}

.barra ul li a {
    color: white;
    display: block; 
    padding: 10px;
}
.barra ul li a .busqueda{
    background-color: white;
    color: gray;
    padding: 5px;
    border-radius: 15px;
    width: 400px;
    height: 25px;
}