<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', { title: 'Home'}) %> 

<section class="banner-section">
    <!-- <div class="banner">
        <img src="/images/Mexican-food-banner.png">
    </div> -->
    <div class="search-banner">
        <div class="search-busqueda">
            <input type="text" placeholder="Buscar...">
            <button>
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</section>

<body>
    <!-- header -->
    <%- include('./partials/header') %> 
    <!-- fin header -->

    <!-- banner -->
  
    <!-- fin banner -->

    <!-- main home -->
    <main class="main-home">
        <section class="main-section-home">
            <h3>Basado en tus ordenes</h3>
            <article class="main-article-home">
                <img src="/images/img-chalupas.jpg" alt="chalupas">
                <article>
                    <p>Chalupas</p>
                </article>
            </article>
            <article class="main-article-home">
                <img src="/images/img-chilaquiles.jpg">
                <article>
                    <p>Chilaquiles</p>
                </article>
            </article>
            <article class="main-article-home">
                <img src="/images/img-chile_nogada.jpg">
                <article>
                    <p>Chile nogada</p>
                </article>
            </article>
            <article class="main-article-home">
                <img src="/images/img-tacos_pastor.jpg">
                <article>
                    <p>Tacos al pastor</p>
                </article>
            </article>
        </section>
        <section class="main-section-cat-home">
            <h3>Categorias</h3>
            <article class="main-section-cat-article">
                <img src="/images/pozole.jpg" alt="comida mexicana">
                <div class="cat-text">
                    <h4>Comida mexicana</h4>
                </div>
            </article>
            <article class="main-section-cat-article">
                <img src="/images/italiana.jpg" alt="comida italina">
                <div class="cat-text">
                    <h4>Comida italina</h4>
                </div>
            </article>
            <article class="main-section-cat-article">
                <img src="/images/japonesa2.jpg" alt="comida italina">
                <div class="cat-text">
                    <h4>Comida Japonesa</h4>
                </div>
            </article>
            <article class="main-section-cat-article">
                <img src="/images/cortes.jpg" alt="comida italina">
                <div class="cat-text">
                    <h4>Cortes Brasileños</h4>
                </div>
            </article>
        </section>
        <section class="main-section-store">
            <article class="main-article-store">
                <div class="div-marker-store">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="div-text-store">
                    <div>
                        Recibe el pedido de tu restaurante o súper en menos de 1 hora
                    </div>
                </div>
            </article>
            <article class="main-article-store">
                <div class="div-marker-store">
                    <i class="fas fa-hand-holding-heart"></i>
                </div>
                <div class="div-text-store">
                    <div>
                        Un shopper selecciona tus productos con amor
                    </div>
                </div>
            </article>
            <article class="main-article-store">
                <div class="div-marker-store">
                    <i class="fas fa-piggy-bank"></i>
                </div>
                <div class="div-text-store">
                    <div>
                        Si no te gusta el estado de un producto, ¡No lo pagas!
                    </div>
                </div>
            </article>
        </section>
    </main>
    <!-- fin main home -->

    <!-- footer -->
    <%- include('./partials/footer') %> 
    <!-- fin footer -->
</body>

</html>