<footer>
    <section class="footer-img">
        <img src="/images/Rue_logo_white_resized.png" alt="logo">
    </section>
    <section class="info-interes">
        <h4>Información de interes</h4>
        <article>
            <p>Terminos y condiciones</p>
            <p>Restaurantes</p>
            <p>Registrar tu restaurante</p>
            <p>Aviso de privacidad</p>
            <p>Restaurantes cerca de mi</p>
            <p>Registrate para realizar entregas</p>
        </article>
    </section>
    <section class="info-redes">
        <ul>
            <li>
                <a href="http://" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="http://" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="http://" target="_blank">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </li>
        </ul>
    </section>
    <section class="copyright">
        <p>&copy; copyright Rue 2021</p>
    </section>
</footer>