<header>
  <ul>
    <div>
      <li>
          <a href="/" class="logo">
              <img src="/images/Rue_logo_white_resized.png" alt="logo"/>
          </a>
      </li>
    </div>
    <form id="form_search" class="search-banner" action="/productos/busqueda" method="get">
      <div class="search-busqueda">
            <input name="search" type="text" placeholder="Buscar...">
            <button>
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
      </div>
    </form>
    <div class="iconos">
      <!-- <li>
        <a href="#" class="ubicacion">
            <i class="fas fa-map-marker-alt"></i>
        </a>
      </li> -->
      <li>
        <a href="/productos/" class="buscador">
          <i class="fas fa-hamburger"></i>
        </a>
      </li>
      <li>
        <a href="/carrito" class="carrito">
            <i class="fas fa-cart-plus"></i>
        </a>
      </li>
      <%if(!locals.isLogged){%>
      <li>
        <a href="/user/login" class="usuario">
            <i class="fas fa-user-circle"></i>
        </a>
      </li>
      <%}else{%>
      <li class0">
          <a href="/user/profile" class="usuario">
              <img class="img-header-profile" src="/images/users/<%= locals.user.foto %>" alt="">
          </a>
      </li>
      <%}%>
    </div>
  </ul>
</header>
