<header>
    <ul>
        <li><a href="/" class="logo"> <img src="/images/Rue_logo_white_resized.png" alt="logo" ></a></li>
        <div class="iconos">
            <li><a href="#" class="ubicacion"><i class="fas fa-map-marker-alt"></i></a></li>
            <li><a href="/productos/products" class="buscador"><i class="fas fa-search"></i></a></li>
            <li><a href="/carrito" class="carrito"><i class="fas fa-cart-plus"></i> </a></li>
            <li><a href="/user/login" class="usuario"><i class="fas fa-user-circle"></i></a></li>
        </div>
    </ul>
</header>