<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/shoppingCart.css">
    <link rel="stylesheet" href="/css/banner-home.css">
    <link rel="stylesheet" href="/css/detalle.css">
    <link rel="stylesheet" href="/css/product-create-form.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/home.css">
    <title><%= title %></title>
</head>